<configuration>
  <appSettings>
    <add key="CaptureRect" value="-1,-1,-1,-1" lockItem="true"/>
    <add key="NextRect" value="-1,-1,-1,-1" lockItem="true"/>
    <add key="DebugRectEnabled" value="1" lockItem="true"/>
    <add key="SimilarityThreshold" value="30000" lockItem="true"/>
    <add key="RecordId" value="1" lockItem="true"/>
    <add key="RecordDate" value="2013/11/10" lockItem="true"/>
    <add key="PlayerName" value="" lockItem="true"/>
  </appSettings>
</configuration>