<configuration>
  <appSettings>
    <add key="CaptureRect" value="-1,-1,-1,-1" lockItem="true"/>
    <add key="NextRect" value="-1,-1,-1,-1" lockItem="true"/>
    <add key="DebugRectEnabled" value="1" lockItem="true"/>
    <add key="SimilarityThreshold" value="30000" lockItem="true"/>
  </appSettings>
</configuration>