<configuration>
  <appSettings>
    <add key="CaptureRect" value="-1,-1,-1,-1" lockItem="true"/>
    <add key="DebugRectEnabled" value="1" lockItem="true"/>
    <add key="SimilarityThreshold" value="2500" lockItem="true"/>
    <add key="RecordId" value="1" lockItem="true"/>
    <add key="RecordDate" value="2013/11/10" lockItem="true"/>
    <add key="PlayerName1" value="" lockItem="true"/>
    <add key="PlayerName2" value="" lockItem="true"/>
    <add key="TargetField" value="3" lockItem="true"/>
  </appSettings>
</configuration>